body {
  background-color: #635985;
  padding: 2vw;
  color: white;
}

h1 {
  font-size: 3vw;
  font-weight: 600;
}

h3 {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 1vw;
}

p {
  margin: 2em 4em;
  font-size: 18px;
}

ol {
  list-style-position: outside;
  list-style-type: normal;
  padding: 1vw 2.2vw;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
  padding: 1vw 2.2vw;
}

#lists {
  display: flex;
  justify-content: space-around;
  padding: 2vw;
}